In [1]:
import numpy as np
import pandas as pd

In [2]:
# pandas series - it is a pandas data type

ser = pd.Series(np.random.random(5),name="Column_01")
ser

0    0.239382
1    0.956541
2    0.197480
3    0.199513
4    0.576861
Name: Column_01, dtype: float64

In [3]:
ser[2]

0.19747999920086046

In [4]:
from pandas_datareader import data as wb
# wb means web

## 1. Using Yahoo source

In [5]:
PG=wb.DataReader('PG', data_source='yahoo', start='1995-1-1')

# there are 3 important parameters for DataReader

# Procter & Gamble: PG
# Apple: APPL
# Microsoft: MSFT

In [6]:
PG
# we can see below is a time series data. first 2 rows have features infromations. hence are not considered.

# As stock market is closed on Weekends and holidays, those days there wont be any data

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
1995-01-03,15.625000,15.437500,15.468750,15.593750,3318400.0,6.280613
1995-01-04,15.656250,15.312500,15.531250,15.468750,2218800.0,6.230266
1995-01-05,15.437500,15.218750,15.375000,15.250000,2319600.0,6.142162
1995-01-06,15.406250,15.156250,15.156250,15.281250,3438000.0,6.154748
1995-01-09,15.406250,15.187500,15.343750,15.218750,1795200.0,6.129573
...,...,...,...,...,...,...
2020-08-12,135.970001,133.699997,133.770004,135.460007,5920400.0,135.460007
2020-08-13,135.869995,134.929993,135.080002,135.779999,4989500.0,135.779999
2020-08-14,135.639999,134.550003,135.610001,135.100006,5845200.0,135.100006
2020-08-17,135.699997,134.660004,134.940002,135.500000,5603800.0,135.500000
2020-08-18,137.509995,135.419998,135.809998,137.429993,3430850.0,137.429993

In [7]:
PG.info()
# we can see there is no missing data.

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6453 entries, 1995-01-03 to 2020-08-18
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       6453 non-null   float64
 1   Low        6453 non-null   float64
 2   Open       6453 non-null   float64
 3   Close      6453 non-null   float64
 4   Volume     6453 non-null   float64
 5   Adj Close  6453 non-null   float64
dtypes: float64(6)
memory usage: 352.9 KB

In [8]:
# head and tail can be used to find the first and last rows of your data

# if you want specific no. of rows you can specify

PG.head()

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   6.280613
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   6.230266
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   6.142162
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   6.154748
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   6.129573

In [9]:
PG.tail(10)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-08-05,134.649994,133.119995,133.589996,133.440002,5680000.0,133.440002
2020-08-06,133.369995,132.119995,132.850006,132.710007,3974100.0,132.710007
2020-08-07,133.639999,132.449997,132.889999,133.550003,4934100.0,133.550003
2020-08-10,134.440002,133.190002,133.699997,134.100006,5812700.0,134.100006
2020-08-11,134.740005,132.789993,134.270004,133.229996,5329900.0,133.229996
2020-08-12,135.970001,133.699997,133.770004,135.460007,5920400.0,135.460007
2020-08-13,135.869995,134.929993,135.080002,135.779999,4989500.0,135.779999
2020-08-14,135.639999,134.550003,135.610001,135.100006,5845200.0,135.100006
2020-08-17,135.699997,134.660004,134.940002,135.500000,5603800.0,135.500000
2020-08-18,137.509995,135.419998,135.809998,137.429993,3430850.0,137.429993

In [10]:
# for exammple we did only for P&G, lets do for P&G, Microsoft, AT&T, Ford, General Electric
# But we need only the last column of the table

In [11]:
tickers = ['PG','MSFT','T','F','GE']
new_data_yahoo = pd.DataFrame()
for t in tickers:
    new_data[t]=wb.DataReader(t, data_source='yahoo', start='1995-1-1')['Adj Close']

NameError: name 'new_data' is not defined

In [ ]:
new_data_yahoo.head(10)

## 2. Using IEX as data source

NOTE: IEX does not does not provide older than 5 years of data

In [ ]:
tickers = ['PG','MSFT','T','F','GE']
new_data_iex = pd.DataFrame()
for t in tickers:
    new_data[t]=wb.DataReader(t, data_source='iex', start='2017-1-1')['close']

## Importing and organizing your data

In [ ]:
import quandl

In [ ]:
mydata_01 = quandl.get("FRED/GDP")

In [ ]:
mydata_01.tail()

In [ ]:
mydata_01.head()

# you can see it has data from 1947

In [ ]:
# how you will store you data in csv format using pandas

import pandas as pd

In [ ]:
mydata_01.to_csv('C:/Users/lenovo/Downloads/Python & Finance_BD/Data/example_01.csv')

In [ ]:
my_data_02 = pd.read_csv('C:/Users/lenovo/Downloads/Python for Finance/57 Importing Data - Part III/CSV/Python 3 CSV/Data_02.csv')

In [ ]:
my_data_02

**NOTE: Similary we can do for excel files. to_excel() and read_excel() menthod in pandas**

## Time Series Data

You will come accross a various time series data in financial analysis

we can see in above data, first is a data column. Python automactically assign a unique no. to the rows in the dataset.

NOTE: but we can change the index of the dataset as we need. Ex. lets set the data column as the index.

In [ ]:
my_data_03 = pd.read_csv('C:/Users/lenovo/Downloads/Python for Finance/57 Importing Data - Part III/CSV/Python 3 CSV/Data_02.csv', 
                         index_col='Date')
my_data_03

In [ ]:
my_data_04 = pd.read_excel('C:/Users/lenovo/Downloads/Python for Finance/57 Importing Data - Part III/CSV/Python 3 CSV/Data_03.xlsx')
my_data_04.head(10)

In [ ]:
# here we see how to reset index again in different style

my_data_04.set_index('Year').head()

In [ ]:
# note: but above we are only see the data with year index. if we fetch it will have auto numbered index.
# So to assign it permanently we need to assing in a data frame

my_data_04 = my_data_04.set_index('Year')

# already assigned, again if you execute, you will get error message.

In [ ]:
my_data_04.head()

## Restaring Kernel

once you restart, and open a new notebook, you will have all the previous outputs. SO go to Kernel on top and select 

**Restart and Clear Output**

You can use **Restart and Run all** if all your codes are in sequence and no error in your script.